<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><a href="/cats">go back</a></h1>
    <h1>Name: <%= cats.name %></h1>
    <img src="bananacat.png" alt="">
     <p>Age:<%= cats.age %></p><br>
     <p>Favorite Food :<%= cats.favorite_food %></p><br>
     <p>Sleeping spoots :<%= cats.sleeping_spots %></p><br>
</body>
</html>