<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="dimscreen">
        <div class="nav">
                <a href="/">go back</a>
                <a href="/cars/new">Add a new car</a>
         </div>
        <div class="pictures"><img src="carbanana.png" alt=""></div>
        <div class="pictures"><img src="cara.png" alt=""></div>
        <div class="pictures"><img src="carb.png" alt=""></div>
        <div class="pictures"><img src="carc.png" alt=""></div>
    </div>
    
</body>
</html>