<html>
<body>
<% if(cats.name == 'Micheal and friends'){%>
    <img src="babycats.png" alt="">
<% } %>
<% else if(cats.name == "Jay") { %>
    <img src="drunkcat.png" alt="">
<% } %>
<% else if(cats.name == "Brendan") { %>
    <img src="morebabycat.png" alt="">
<% } %>
<% else if(cats.name == "Andrew") { %>
    <img src="bananacat.png" alt="">
<% } %>
        <!-- <h3>Name: <%= cats.name %></h3> -->
        <h2>hello</h2>
</body>
</html>