<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="dimscreen">
        <div class="nav">
            <a href="/">go back</a>
        </div>
        <div class="picture1"><a href="/micheal"><img src="babycats.png" alt=""></a></div>
        <div class="picture2"><a href="/jay"><img src="drunkcat.png" alt=""></a></div>
        <div class="picture3"><a href="/brendan"><img src="morebabycat.png" alt=""></a></div>
        <div class="picture4"><a href="/andrew"><img src="bananacat.png" alt=""></a></div>
    </div>
    
</body>